.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #8CBA80;
    margin: 0px;
    padding: 0px;
    
}
.welcome-msg {
    height: 50vh;
    background-color: white;
    width: 85%;
    margin: auto;
    font-size: 18px;
    overflow: scroll;
}
.welcome-heading {
    text-align: center;
    font-size: 16px;
    width: 70%;
    margin: auto;
    color: white;
}
.main-image {
    flex: 1;
    width: 70%;
    margin: auto;
}

.link-div {
    padding: 10px;
    background-color: #658E9C;
    text-align: center;
    width: 70%;
    margin: 10px auto;
}

.link-div:hover {
    background-color: #486670;
}

a{
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

.welcome-msg p {
    margin: 10px 5px;
}